@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "spaceGrotesk";
  src: url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page {
  background-image: url("../public/green.png");
}

.numberanim {
  white-space: nowrap !important;
  animation: scrollContent 10s linear infinite;

  animation-delay: 2s;
}

.numberanim h2 {
  color: transparent !important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #283c46;
}

@keyframes scrollContent {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%); /* Move content to the left */
  }
}
